name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '3.3', '3.4' ]
    env:
      RUBY_IMAGE: ${{ matrix.ruby }}
    name: Ruby ${{ matrix.ruby }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run linters
        run: bundle exec rubocop
      - name: Run tests
        run: bundle exec rspec

  schema-validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install dependencies
        run: npm install -g ajv-cli
      - name: Validate all hip.yml files
        run: find . -type f -name 'hip.yml' | grep -v '/invalid' | xargs -I {} ajv -s schema.json -d {}
